@keyframes neon-ring {
  0%,
  100% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 15px currentColor, 0 0 25px currentColor;
  }
}

.social-glow {
  position: relative;
}

.social-glow::after {
  content: "";
  position: absolute;
  inset: -3px; /* jarak keluar sedikit dari bulatan */
  border-radius: 9999px;
  border: 2px solid currentColor;
  opacity: 0;
  pointer-events: none;
}

.social-glow.active::after {
  opacity: 1;
  animation: neon-ring 1.5s ease-in-out infinite;
}

button.button-hero-download::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(90deg, #00f, #0ff, #00f);
  background-size: 200% 200%;
  animation: glow-border 3s linear infinite;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes glow-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
